header {
    display: flex;

    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 1.5em 2em 1em;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    header {
        padding: 1.5em 1em 1em;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }

    header {
        justify-content: flex-end;
    }
}
