.projects {
    --start-height: 20%;
    position: relative;
    padding: 4em 0em;
    display: flex;
    flex-direction: column;
    background: var(--dark-secondary-col-alt);
    clip-path: polygon(
        0% var(--start-height),
        50% calc(var(--start-height) + 2em),
        100% var(--start-height),
        100% calc(100% - 2em),
        50% 100%,
        0% calc(100% - 2em),
        0% 1px, 1px 1px, 1px 0%, 0% 0% /* hidden pixel to trigger intersection observer */
    );
}

.projects-anim {
    animation: slider 1.5s forwards;
    animation-timing-function: cubic-bezier(0.16, 0.18, 0, 1);
}

@keyframes slider {
    0% {
        clip-path: polygon(
            0% var(--start-height),
            50% calc(var(--start-height) + 2em),
            100% var(--start-height),
            100% calc(100% - 2em),
            50% 100%,
            0% calc(100% - 2em),
            0% 1px, 1px 1px, 1px 0%, 0% 0% /* hidden pixel */
        );
    }
    100% {
        clip-path: polygon(
            0% 0%,
            50% 2em,
            100% 0%,
            100% calc(100% - 2em),
            50% 100%,
            0% calc(100% - 2em),
            0% 1px, 1px 1px, 1px 0%, 0% 0% /* hidden pixel */
        );
    }
}

.projects-drop-shadow {
    position: absolute;
    top: -5em;
    left: 0;
    filter: drop-shadow(0 0.5em 3em #000);
    width: 100%;
    height: calc(100% + 10em);
    pointer-events: none;
}

.projects-clip {
    clip-path: polygon(
        0% 5em,
        50% 7em,
        100% 5em,
        100% calc(100% - 7em),
        50% calc(100% - 5em),
        0% calc(100% - 7em),
        0% 100%,
        100% 100%,
        100% 0%,
        0% 0%
    );
    background-color: #000;
    width: 100%;
    height: 100%;
}

.projects-header {
    text-align: right;
    font-size: 3em;
    padding: 0em 2em;
}

.projects-wrapper {
    padding: 4em 0;
}

.project-container {
    --slope: 5em;
    --padding-top: 4em;
    --padding-right: 4em;
    display: flex;
    min-height: 30vw;
    position: relative;
    overflow: hidden;
    align-items: center;
    margin-top: 1em;
    clip-path: polygon(0% 0%, 0% calc(100% - var(--slope)), var(--slope) 100%, 100% 100%, 100% 0%);
    padding: var(--padding-top) var(--padding-right);
}

.project-background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: calc(-1 * var(--padding-top)) calc(-1 * var(--padding-right));
    z-index: -1;
    background-color: var(--dark-secondary-col);
    opacity: 20%;
    transition: opacity 0.5s;
}

.project-container:hover .project-background {
    opacity: 60%;
}

.project-image {
    height: 100%;
    filter: blur(4px);
    transition: transform 0.5s, filter 0.5s;
}

.project-container:hover .project-image {
    transform: scale(1.1);
    filter: none;
}

.project-title {
    display: flex;
    align-items:baseline;
}

.project-caption {
    font-style: italic;
    color: var(--text-col-alt);
    margin-top: 0.5em;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.decoration {
    --slope: 0.5em;
    background-color: var(--text-col-alt);
    color: var(--dark-col);
    padding: 0.2em 0.6em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    clip-path: polygon(0% 0%, 0% calc(100% - var(--slope)), var(--slope) 100%, 100% 100%, 100% 0%);
}

.project-links {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: center;
    margin-left: 2em;
    margin-right: calc(-1 * var(--padding-right));
}

.project-link {
    color: var(--text-col);
    font-size: 0.9em;
    background-color: var(--primary-col);
    padding: 0.5em 1em;
    margin-bottom: 1em;
    box-shadow: -3px 7px 15px #231e3a;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-left-radius: 0;
    border-color: var(--text-col);
    transition: background-color 0.2s;
}

.project-link:hover {
    color: var(--text-col);
    background-color: var(--dark-secondary-col);
}

.link-icon {
    margin-right: 0.5em;
}

@media only screen and (max-width: 1000px) {
    .project-links {
        align-self: flex-start;
    }
}

@media only screen and (max-width: 700px) {
    .projects-header {
        padding: 0em 1em;
    }

    .project-container {
        --slope: 3em;
        flex-direction: column;
    }

    .project-title {
        display: unset;
    }

    .project-caption, .project-decorations {
        margin-top: 1em;
    }

    .project-links {
        align-self: flex-end;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 480px) {
    .project-container {
        --padding-right: 2em;
    }
}
